.AppContent {
  margin: 5px;
}

.kisan-detail th {
  width: 50% !important;
}

.link-no-decoration {
  text-decoration: none !important;
  color: white;
}

.link-no-decoration:hover {
  text-decoration: none !important;
  color: white;
}

.text-white {
  color: white !important;
}
.text-white:hover {
  color: gainsboro !important;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.hide-till-print {
  display: none !important;
}

.receipt-font-size {
  font-size: 1.9vh;
}

.capitalize {
  text-transform: capitalize;
}

.text-shadow-im {
  text-shadow: 2px 1px #ff0000;
}
.fill-row {
  width: 80%;
}
.company-heading {
  font-size: 4vh;
}
.no-border {
  border-style: hidden !important;
}

.logo {
  height: 5vh;
}
.form-width {
  width: 50%;
}

@media (max-width: 576px) {
  .form-width {
    width: 100%;
  }
}
